@{ var item = ViewBag.item;} 
<div class="col mb-3" id="card-@item.Id">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Напиток ID @item.Id</h5>
            <div class="input-group mb-3">
                <span class="input-group-text" id="input-@item.Id-1">Название</span>
                <input type="text" class="form-control" id="name-@item.Id" value=@item.Name aria-describedby="input1" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="input-@item.Id-2">Цена</span>
                <input type="number" class="form-control" id="price-@item.Id" value=@item.Price aria-describedby="input2" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="input-@item.Id-3">Количество</span>
                <input type="number" class="form-control" id="count-@item.Id" value=@item.Count aria-describedby="input3" required>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="available-@item.Id" checked=@item.Available>
                <label class="form-check-label" for="available-@item.Id">Напиток доступен</label>
            </div>
            <button class="btn btn-warning" id="update-@item.Id">Обновить</button>
            <button class="btn btn-danger" id="delete-@item.Id">Удалить</button>
            <script>
                    $("#delete-@item.Id").click(function () {
                        $.ajax({
                            method: 'POST',
                            url: '/Home/DeleteDrink',
                            data: {
                                drink_id: @item.Id
                            },
                            beforeSend: function () {
                                return confirm("Вы действительно хотите удалить напиток?");
                            },
                            success: function (data) {
                                $("#card-@item.Id").remove()
                            }
                        })
                    })
                    $("#update-@item.Id").click(function () {
                        $("#update-@item.Id").attr("disabled", true)

                        $.ajax({
                            method: 'POST',
                            url: '/Home/UpdateDrink',
                            data: {
                                drink_id: @item.Id,
                                new_name: $("#name-@item.Id").val(),
                                new_price: $("#price-@item.Id").val(),
                                new_count: $("#count-@item.Id").val(),
                                new_available: $("#available-@item.Id").is(":checked")
                            },
                            success: function (data) {
                                $("#update-@item.Id").removeAttr("disabled")
                                $(".toast").toast("show")
                            }
                        })
                    })
            </script>
        </div>
    </div>
</div>